<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/infopage.css">
</head>

<body>
    <div id="progress-bar"></div>
    <%- include('partials/navbar') %>

        <div class="main-content">
            <div class="title-section">
                <h1>Welcome to Your Dashboard, <strong>
                        <%= user.username %>
                    </strong>!</h1>
                <p>Your registered email: <strong>
                        <%= user.email %>
                    </strong></p>
                <p>Phone Number: <strong>
                        <%= user.phone %>
                    </strong></p>
                <p>Plan: <strong>Basic</strong></p>
            </div>

            <section class="form-section">
                <h2>Update Your Information</h2>
                <form class="contact-form" action="/update" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="<%= user.username %>" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= user.email %>" required>

                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" value="<%= user.phone %>" pattern="[0-9]{10}" required>

                    <button type="submit">Update Information</button>
                </form>
            </section>
        </div>

        <%- include('partials/footer') %>
</body>

</html>