<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <style>
        .modal-dialog-centered-scrollable {
            display: flex;
            align-items: center;
            min-height: calc(100% - (.5rem * 2));
        }

        .modal-dialog-centered-scrollable .modal-content {
            max-height: 80vh;
            overflow-y: auto;
        }

        .card-img-top {
            height: 250px;
            object-fit: cover;
        }

        .card:hover {
            cursor: pointer;
        }

        .search-bar {
            margin: 20px 0;
        }

        .search-bar .form-control {
            border-radius: 0;
        }

        .search-bar .btn {
            border-radius: 0;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="justify-content-center">
            <img src="<%= searchAction %>.jpg" style="width: 100%; height: auto;" class="img-fluid">
        </div>
        
        <!-- Search Bar -->
        <%- include('partials/searchbar') %>

        <div class="container mt-5 mb-5 pb-5">
            <div class="row">
                <% if (cards.length === 0) { %>
                    <div class="col-12">
                        <p class="text-center">No results found</p>
                    </div>
                <% } else { %>
                    <% cards.forEach(card => { %>
                        <div class="col-md-4 mb-4">
                            <div class="card" style="height: 440px;" data-bs-toggle="modal" data-bs-target="#modal<%= card._id %>">
                                <img src="<%= card.image %>" class="card-img-top" alt="<%= card.title %> Image">
                                <div class="card-body">
                                    <h5 class="card-title"><%= card.title %></h5>
                                    <p class="card-text">
                                        <a href="https://www.google.com/maps/search/?api=1&query=<%= card.latitude %>,<%= card.longitude %>">
                                            <i class="fa-solid fa-location-dot me-2"></i><%= card.location.length > 30 ? card.location.substring(0, 30) + '...' : card.location %>
                                        </a>
                                    </p>
                                    <% if (card.type === "price") { %>
                                        <p class="card-text"><b>Price: <%= card.price %><i class="fa-solid fa-indian-rupee-sign ms-2"></i></b></p>
                                    <% } else if (card.type === "price") { %>
                                        <p class="card-text"><b>Rent: <%= card.rent %><i class="fa-solid fa-indian-rupee-sign ms-2"></i></b></p>
                                    <% } else { %>
                                        <p class="card-text"><b>Free</b></p>
                                    <% } %>
                                    <p class="card-text"><%- card.description.length > 50 ? card.description.substring(0, 50) + ' <i class="text-primary">...Read more</i>' : card.description %></p>
                                </div>
                            </div>
                        </div>

                        <!-- Modal for each card -->
                        <div class="modal fade" id="modal<%= card._id %>" tabindex="-1" aria-labelledby="modalLabel<%= card._id %>" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel<%= card._id %>"><%= card.title %></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="<%= card.image %>" class="img-fluid mb-3" alt="<%= card.title %> Image">
                                        <h5><%= card.title %></h5>
                                        <p class="card-text">
                                            <a href="https://www.google.com/maps/search/?api=1&query=<%= card.latitude %>,<%= card.longitude %>">
                                                <i class="fa-solid fa-location-dot me-2"></i><%= card.location %>
                                            </a>
                                        </p>
                                        <% if (card.type === "price") { %>
                                            <p class="card-text"><b>Price: <%= card.price %><i class="fa-solid fa-indian-rupee-sign ms-2"></i></b></p>
                                        <% } else if (card.type === "rent") { %>
                                            <p class="card-text"><b>Rent: <%= card.rent %><i class="fa-solid fa-indian-rupee-sign ms-2"></i></b></p>
                                        <% } else { %>
                                            <p class="card-text"><b>Free</b></p>
                                        <% } %>
                                        <p><%= card.description %></p>
                                    </div>
                                    <div class="modal-footer">
                                    <% if (user && user.username === card.username || user && user.username === "admin") { %>
                                                <a href="/<%= activeLink %>/edit/<%= card._id %>"><button type="submit" class="btn btn-primary">Edit</button></a>
                                    <% } %>
                                    <% if (user && user.username === card.username || user && user.username === "admin") { %>
                                            <form action="/<%= activeLink %>/delete/<%= card._id %>" method="POST" style="display: inline;">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                    <% } %>
                                   </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </section>
    <%- include('partials/bottom_nav') %>
</body>
</html>
