<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %>
    <section id="find-food">
      <div class="justify-content-center"><img src="/market.jpg" style="width: 100%; height: auto;" class="img-fluid"></div>
      <%- include('partials/search_bar') %>
        <div class="container mt-5">
            <div class="row">
              <% cards.forEach(card => { %>
                <div class="col-md-4 mb-4">
                  <div class="card">
                    <img src="http://<%=domain%>/<%= card.image %>" class="card-img-top" alt="<%= card.title %> Image" height="auto" width="300px">
                    <div class="card-body">
                      <h5 class="card-title"><%= card.title %></h5>
                      <p class="card-text"><%= card.location %></p>
                      <p class="card-text"><%= card.description %></p>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
    </section>
    <script>

    </script>
</body>
</html>